*{
  font-family: var(--font-family-regular);
  margin:0;
  padding: 0;
  font-size: 1rem;
}


.color-20{
  color: #202020;
}

.cursor{
  cursor: pointer;
}
.header{
  background-color: #db4c3f;
  padding:1vh 2vw 1vh 2vw;
  display: flex;
  justify-content: space-between;
  color:white
}

.header-input::placeholder{
  color:white
}

a{
  color :transparent
}
.Link{
  color : #1A202C
}

.circle{
  border-radius: 50%;
  border: 1px solid white;
  width: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-profile{
  background-color: white;
  color:green;
  border: 1px solid green;

}


.sidebar{
  padding-left: 2vw;
  padding-top: 3vh;
  width: 15%;
  background-color: #FAFAFA;
  height: 92vh;
}

.popupForDelete{
  position: absolute;
  left:200vw;
  top:0
}

.tasks-section{
  padding: 3vh 10vw 3vh 20vw;

  
}